<ion-content >
  <app-header></app-header>

  <section class="form pt-10 pb-14 px-4 ">
    <div class=" justify-center drop-shadow-xl">
  <div class=" pt-8 p-4 bg-white col-span-3 border border-solid border-[#BFB8D7] rounded-3xl border-b-0 rounded-b-none">
    <p class="text-2xl font-bold leading-8">Subscribe</p>
    <p class="text-base leading-6 font-normal">to our Monthly Surprise Box</p>
  
    <div class="divider my-4">
    </div>
  
  </div>

  
   </div>
</section>

<!-- Footer -->
  <footer class="hidden lg:block lg:px-16 lg:mx-auto lg:w-full lg:py-12">
    <div class="lg:px-16 lg:mx-auto lg:w-full">
      <div class="flex flex-row justify-between">
        <div>
          <img src="../../assets/dark-logo.png" alt="">
        </div>
        <div class="">
          <a class="font-normal text-lg foorterlink mr-6">Overview</a>
          <a class="font-normal text-lg foorterlink mr-6">Help</a>
          <a class="font-normal text-lg foorterlink mr-6">Privacy</a>
        </div>
        <div class="copyrights font-normal text-lg leading-6">
          <p>© 2023 MyEdu
        </div>
      </div>
    </div>
  </footer>
</ion-content>
