<ion-content >
  <app-header></app-header>

<!-- Footer -->
  <footer class="hidden lg:block lg:px-16 lg:mx-auto lg:w-full lg:py-12">
    <div class="lg:px-16 lg:mx-auto lg:w-full">
      <div class="flex flex-row justify-between">
        <div>
          <img src="../../assets/dark-logo.png" alt="">
        </div>
        <div class="">
          <a class="font-normal text-lg foorterlink mr-6">Overview</a>
          <a class="font-normal text-lg foorterlink mr-6">Help</a>
          <a class="font-normal text-lg foorterlink mr-6">Privacy</a>
        </div>
        <div class="copyrights font-normal text-lg leading-6">
          <p>© 2023 MyEdu
        </div>
      </div>
    </div>
  </footer>
</ion-content>
