<ion-content>
  <app-header></app-header>
<!-- Hero -->
  <section class="hero pt-14 pb-14 px-4 sm:pb-28 sm:pt-32 sm:px-16 ">
    <div class="sm:mx-auto sm:w-full text-center text-white">
      <div class="flex flex-col gap-6">
        <p class="title text-[56px] leading-[67.2px] font-black">Discover the magic of our surprise box </p>
        <p class="font-bold text-xl leading-[30px] sm:text-2xl sm:leading-9 sm:w-3/5 sm:mx-auto sm:px-16">Unleash your child's curiosity with our educational subscription box filled with fun and learning.</p>
      </div>
      <div class="">
        <button class="subscribe font-black mt-6" (click)="navigateToSubscribe()">Subscribe Now</button>
      </div>
      <div class="flex justify-center mt-20 p-4">
        <img src="../../assets/hero-bg.png" alt="" srcset="">
      </div>
    </div>
  </section>
<!-- Discover -->
  <section class="bg-none bg-[#FFF9E6] sm:bg-discover bg-cover py-14 px-4 sm:py-28">
    <div class="sm:mx-auto sm:w-full text-center">
    <div class="text-center">
         <p class=" text-black font-semibold sm:mb-6">Discover</p>
      <p class="text-[40px] leading-[48px] text-black font-bold sm:text-5xl sm:w-[40%] mx-auto text-center">How It Works: Subscribe and Receive Your Surprise Box</p>
      <p class="mt-6 text-black font-normal text-2xl sm:w-1/2 mx-auto text-pretty leading-9">Subscribe to our surprise subscription box and give your child the gift of learning. Each month, we curate a box filled with educational materials tailored to your child's age and interests.</p>
  </div>
    <div class="lg:grid lg:grid-cols-3 mt-20 gap-12 ">
      <div class="">
        <div class="rounded-full w-24 h-24 bg-white flex justify-center items-center mx-auto"> 
          <img src="../../assets/icon/subscribe.svg" alt="" srcset="">
        </div>
        <div class="mt-6">
          <p class="font-bold  sm:text-[32px] leading-[42px] text-2xl"><span class="sm:block">Step 1: </span> Subscribe</p>
          <p class="font-normal text-base mt-6 leading-6 sm:px-24 text-black">Select a subscription plan that suits your child's learning needs and preferences.</p>
        </div>
      </div>
      <div class="mt-6 sm:mt-0"> 
        <div class="rounded-full w-24 h-24 bg-white flex justify-center items-center mx-auto"> 
        <img src="../../assets/icon/edit.svg" alt="" srcset=""> 
      </div>
        <div class="mt-6">
        <p class="font-bold sm:text-[32px] leading-[42px] text-2xl"> <span  class="sm:block"> Step 2: </span>Personalise Your Box</p>
          <p class="font-normal text-base mt-6 leading-6 sm:px-24 text-black">Tell us about your child's age, interests, and learning goals, and we'll customize their surprise box accordingly.</p>
       </div>
      </div>
      <div class="mt-6 sm:mt-0">
        <div class="rounded-full w-24 h-24 bg-white flex justify-center items-center mx-auto"> 
        <img src="../../assets/icon/surprize.svg" alt="" srcset="">
        </div>
        <div class="mt-6">
        <p class="font-bold sm:text-[32px] leading-[42px] text-2xl"> <span  class="sm:block"> Step 3:</span> Receive Your Surprise Box</p>
        <p  class="font-normal text-base mt-6 leading-6 sm:px-24 text-black text-balance">Sit back and relax as your child eagerly awaits the arrival of their monthly surprise box filled with engaging learning materials.</p>
        </div>
      </div>
    </div>
    <div class="mt-12">
      <button class="subscribe font-black" (click)="navigateToSubscribe()">Subscribe Now</button>
    </div> 
  </div>
  </section> 
<!-- Footer in large screens -->
  <footer class="hidden sm:block sm:px-16 sm:mx-auto sm:w-full sm:py-20">
    <div class="sm:mx-auto sm:w-full">
      <div class="line h-[1px] bg-black"></div>
      <div class="flex flex-row justify-between mt-8">
        <div class="flex flex-row ">
          <p class="font-normal text-sm underline leading-[21px] mr-6">Privacy Policy</p>
          <p class="font-normal text-sm underline leading-[21px] mr-6">Terms of Service</p>
          <p class="font-normal text-sm underline leading-[21px] mr-6">Cookies Settings</p>
        </div>
        <div class="">
          <p>© 2023 MyEdu. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- Footer in small screens -->
  <footer class="block sm:hidden px-5 mx-auto w-full py-12">
    <div class="">
      <div class="">
        <a href="" (click)="navigateToHome()">
        <img src="../../../assets/dark-logo.png" alt="" srcset="">
        </a>
        <div class="flex flex-col my-6">
          <a href="" class="font-semibold text-base leading-6 my-2">Link One</a>
          <a href="" class="font-semibold text-base leading-6 my-2">Link Two</a>
          <a href="" class="font-semibold text-base leading-6 my-2">Link Three</a>
          <a href="" class="font-semibold text-base leading-6 my-2">Link Four</a>
          <a href="" class="font-semibold text-base leading-6 my-2">Link Five</a>
        </div>
        <div>
          <p class="font-semibold text-base leading-6">Subscribe</p>
          <input type="email" placeholder="Enter your Email" class="block p-4 border border-black bg-white w-full mt-3">
          <button class="block p-4 border-solid border border-black bg-white w-full mt-3 text-base font-normal">Subscribe</button>
          <small class="mt-4">By subscribing you agree to with our <span class="underline">Privacy Policy</span></small>
        </div>
      </div>
      <div class="line h-[1px] bg-black mt-10"></div>
      <div class="flex flex-col justify-between">
        <div class="flex flex-col ">
          <p class="font-normal text-sm underline leading-[21px] mt-4">Privacy Policy</p>
          <p class="font-normal text-sm underline leading-[21px] mt-4">Terms of Service</p>
          <p class="font-normal text-sm underline leading-[21px] mt-4">Cookies Settings</p>
        </div>
        <div class="mt-6">
          <p class="text-sm">© 2023 Relume. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
</ion-content>