.hero {
  background-color: #AB95F9;
}
.title {
  color: white;
  text-shadow: 2px 2px 0px #896AF9;
}

.subscribe {
  color:#896AF9;
  font-size: 23px;
  padding: 15.5px 27.09px 15.9px 26px;
  width: 220.09px;
  height: 70.4px;
  background: #FFFFFF;
  box-shadow: 4px 4px 0px -1px #896AF9;
  border-radius: 24px;
}

.discover{
  background-color: #FFF9E6;
  background-image: url('../../assets/box-bg.png');
  background-size: cover;
}
